.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd

*.sqlite3
db.sqlite3

.venv/
venv/
env/

.DS_Store
.idea/
.vscode/

Fight_backend_project/backend_frontend_project/staticfiles/
Fight_backend_project/backend_frontend_project/media/
fight/pipeline/outputs/

*.mp4
*.avi
*.mkv
*.mov