POSTGRES_DB=fightdb
POSTGRES_USER=fightuser
POSTGRES_PASSWORD=DEGISTIR_GUCLU_PAROLA
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=DEGISTIR_SECRET_KEY
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=yzdd-gpu02.gop.edu.tr,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://yzdd-gpu02.gop.edu.tr

URL_PREFIX=/fight-detection

MAIL_SERVICE_ENABLED=False
MAIL_API_KEY=
FRONTEND_URL=https://yzdd-gpu02.gop.edu.tr/fight-detection
MAIL_LOGO_URL=https://yzdd-gpu02.gop.edu.tr/fight-detection/static/images/togu-logo.png
